name: Node.js CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Debug directory structure
        run: |
          echo "Root directory:"
          ls -R
          echo "src directory:"
          ls -R src

      - name: Install dependencies
        working-directory: ./src
        run: npm install

      - name: Run tests
        working-directory: ./src
        run: npm test
